<div class="contents">
  <% @tweets.each do |tweet| %>
  <div class = "box">
    <span class="name">
      <%= tweet.user.nickname %>
    </span>
    <p><%= link_to safe_join(tweet.text.split("\n"),tag(:br)), tweet_path(tweet.id) %></p>
  </div>
  <% end %>
</div>