<div class="contents">
  <% @tweets.each do |tweet| %>
  <div class = "box">
    <span class="name">
      <%= tweet.user.nickname %>
    </span>
    <p><%= tweet.text %></p>
  </div>
  <% end %>
</div>