.header{
  background-color:#87ceeb;
  margin-bottom: 40px;
  padding: 10px 0;
}

.header_bar{
  width: 100vh;
  margin: 0 auto;
}

.nav{
  width: 100vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #191970;
  text-decoration: none;
  user-select: none;
  border: 1px solid #191970;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  color: #fff;
  background-color: #191970;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #191970;
  text-decoration: none;
  user-select: none;
}

.nav__logout:hover{
  opacity: 0.5;
}



.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text{
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background-color: #191970;
  border: 1px solid #191970;
  transition: 0.2s ease;
}

.form__btn:hover{
  color: #191970;
  background-color: #fff;
}



.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}


.contents{
  width: 90vw;
  margin:  0 auto;
  margin-bottom: 40px;
}

.box{
  padding: 1em;
  margin: 2em auto;
  width:100%;
  color: #696969;
  background: #f0ffff;
  border-top: solid 15px #191970;
}
.box p span{
  margin: 0; 
  padding: 0;
}

.more_list{
  display: block;
  font-size: 0.8em;
}


a{
  text-decoration: none;
  color: #2f4f4f;
}


.container{
  padding-left: 20px;
}

.comments_lists{
  padding-left: 10px;
}

.comments_list{
  list-style-type: none;
  padding-bottom: 5px;
}

.comment_del{
  display: block;
  font-size: 5px;
  list-style-type: none;
}

.box_com{
  background-color: #fff;	/* 背景色 */
	border: 2px solid #f3cbd0;	/* 線の太さ・種類・色 */
	border-radius: 5px;
	margin: 40px 5px 5px 20px;	/* 外側の余白 上・右・左・下 */
	padding: 25px 20px 10px 20px;	/* 内側の余白 上・右・左・下 */
	position: relative;
}

.box_com:before{
  background-color: #ef858c;	/* 吹き出し背景色 */
  border-radius: 3px;
  color: #fff;	/* 吹き出し文字色 */
  content: 'コメント';
  padding: 5px 20px;
  position: absolute;
  left: -10px;
  top: -20px;
}
.box_com:after{
  border-top: 12px solid #ef858c;		/* 吹き出し三角部分の色 */
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
}

.name {
  font-size: 0.7em!important;
  margin-bottom: 1em!important;
}